{% extends 'main/base.html'%}
{% load template_tags %}
{% block title %}
Преподаватели
{% endblock %}
{% block content %}
<div style="display: flex; flex-direction:column; align-items:center; ">
    <h1 class="m-3">Информация о преподавателях</h1>
    <div class="m-3">
        <a href="{% url 'add_teachers' %}" class='btn btn-danger' style="font-size:18px; padding: 10px 20px">Добавить</a>
        <a href="{% url 'edit_teachers' %}" class='btn btn-danger' style="font-size:18px; padding: 10px 20px">Изменить</a>
        <a href="{% url 'delete_teachers' %}" class='btn btn-danger' style="font-size:18px; padding: 10px 20px">Удалить</a>
        <a href="{% url 'home' %}" class='btn btn-danger' style="font-size:18px; padding: 10px 20px">Вернуться
            назад</a>
    </div>
    {% if messages %}
    {% for message in messages %}
    <p class="alert alert-{{ message.tags }} mt-2 mb-2">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% render_search_form query placeholder="Поиск по фамилии..." %}
    {% render_teacher_table teachers %}
    {% render_pagination page_obj query %}
    <span>{{ error }}</span>
</div>
{% endblock %}
