{% extends 'main/base.html'%}
{% load template_tags %}
{% block title %}
Расписание по преподавателям
{% endblock %}
{% block content %}
<div style="display:flex; flex-direction: row; justify-content: space-between; align-items:center">
    <h1 style="margin:10px">Просмотр расписания по преподавателям</h1>
    <a href="{% url 'home' %}" style="height:40px; margin: 10px" class="btn btn-outline-dark">
        <Вернуться
    </a>
</div>
<div>
    <form method="GET">
        {% csrf_token %}
        <div style="margin: 10px">
            Преподаватель:
            <select class="form-control form-control-sm select2" name="chosen_teacher" style="width: 200px;">
                {% for i in teachers %}
                <option value={{i.id}} {% if chosen_teacher and i.id == chosen_teacher.id %}selected{% endif %}>{{ i.name }}</option>
                {% endfor %}
            </select>
            <input type="date" name="chosen_date_start" value="{{ chosen_date_start }}">
            <input type="date" name="chosen_date_end" value="{{ chosen_date_end }}">
            <button type="submit" class="btn btn-danger" style="font-size:18px; padding: 10px 20px">Показать
                расписание
            </button>
        </div>
    </form>
</div>
<hr><!-- горизонтальная линия -->
{% if messages %}
{% for message in messages %}
<p class="alert alert-{{ message.tags }} mt-2 mb-2">
    {{ message }}
</p>
{% endfor %}
{% endif %}
<div id="schedule">
    {% if table_query %}
    {% render_schedule_table_for_group chosen_teacher.name table_query %}
    {% endif %}
</div>
{% endblock %}
