{% extends 'main/base.html' %}
{% block title %}
    Расписание занятий
{% endblock %}
{% block content %}
<div style = "flex:1; display:flex;align-items:center; justify-content:center; flex-direction:column;">
    <div>

    <div class="bg-light shadow border border-dark rounded p-3" style="width:350px">
        <div style="display:flex; flex-direction: row; justify-content: start; align-items:center; ">
            <a style="margin:0; padding-bottom:15px" class="btn" href="{% url 'guests' %}"><</a>
            <h4>Вход</h4>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div style="display:flex; justify-content: space-around">
            <button type="submit" class="btn btn-danger" style="font-size:18px; padding: 10px 20px">Войти</button>
            </div>
        </form>
    </div>

    </div>
</div>
{% endblock %}