{% extends 'main/base.html'%}
{% load template_tags %}
{% block title %}
Добавление группы
{% endblock %}
{% block content %}
<div>
    <h1>Добавить группу</h1>
    <div class="mb-3">
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            <div>{{ form.form_of_education }}</div>
            <br>
            {{ form.course }}<br>
            <div>{{ form.faculty }}</div>
            <br>
            <button type="submit" class="btn btn-danger" style="font-size:18px; padding: 10px 20px">Добавить</button>
            <a href="{% url 'groups' %}" class="btn btn-danger" style="font-size:18px; padding: 10px 20px">Вернуться
                назад</a>
        </form>
    </div>
    {% if messages %}
    {% for message in messages %}
    <p class="alert alert-{{ message.tags }} mt-2 mb-2">
        {{ message }}
    </p>
    {% endfor %}
    {% endif %}
    {% render_group_table groups "425px" %}
</div>
{% endblock %}